body {
  background-color: white;
}
.nav {
  float: right;
  position: top-fixed;
}
.nav li {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  list-style-type: none;
  padding: 0 10px 0 10px;
}
.nav a {
  text-decoration: none;
  color: black;
  font-family: arial, sans-serif;
  font-size: 13px;

}
.img-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.notification {

  width: 20px;
  height: 20px;
  background-color: black;

}
.logo {
  text-align: center;
  vertical-align: middle;
  position: absolute;
    top: 34.4%;
    left: 40.6%;
    margin-left: auto;
    margin-top: auto;
}
.search {
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px;
  position: fixed;
    top: 53.6%;
    left: 30.2%;
    margin-left: auto;
    margin-top: auto;



}
